ul.nav_area
  li.aboutme 關於我
  li.aboutme 產品線
  li.aboutme 訂製我
  li.aboutme 聯絡我
  li.aboutme 更多我
  
.header
  img.icon(src="https://i.imgur.com/rY9mibQ.png", alt="")
  h1 小小的運送家
  h1.small_English ABOUT ANDY WHO AM I ?
  

.content.content_white
  .max_width
    .poster
      img.icon(src="https://i.imgur.com/0xssJAB.png", alt="",width="350") 
    br
    h5 NCYU GRAUDUATION PARTY 
    h1 運輸想念
    h1.small_english What's transportation?
    br
    .title_hr
    //- h2 奧斯卡的金色記憶
    //- h2.small_english The Oscar Golden Memory
    br
    h3.small_english(style='border-top:dotted 0px blue; border-bottom:dashed 0px red; border-left:double 0px green; border-right:solid 0px yellow; width: 420px ; height: 250 px') 運輸是物流運作的重要環節，在各個環節中運輸時間及運輸成本占有相當比重。現代運輸管理是對運輸網路和運輸作業的管理，在這個網路中傳遞著不同區域的運輸任務、資源控制、狀態跟蹤、信息反饋等信息。

    br
    h3.small_english(style='border-top:dotted 0px blue; border-bottom:dashed 0px red; border-left:double 0px green; border-right:solid 0px yellow; width: 380px ; height: 250 px') Transportation is an important part of logistics operations. In all aspects, transportation time and transportation costs account for a significant proportion. Modern transportation management is the mana

    hr
 
    //- h5 VI COLORS
    //- .color_chip
    //-   .color_tag #ffb336
    //-   .color_block.color_block_yellow
    //- .color_chip
    //-   .color_tag #27232f
    //-   .color_block.color_block_blue
    //- .color_chip
    //-   .color_tag #f3f7f7
    //-   .color_block.color_block_white
    //- .color_chip
    //-   .color_tag #333333
    //-   .color_block.color_block_grey

    h5 BUTTON EXAMPLE
      .button 運輸學
      .button.button_blue 管理學
      .button.button_yellow 更多點我
    br

.content.content_grey
  .max_width
    .poster
     img.icon(src="https://i.imgur.com/em2ZpJp.png", alt="",width="280")
    br
    h5 NCYU GRAUDUATION PARTY 
    h1 甚麼是想念包裝
    h1.small_english What's the subject?
    .title_hr1
    //- h2 奧斯卡的金色記憶
    //- h2.small_english The Oscar Golden Memory
    br
    h3.small_english(style='border-top:dotted 0px blue; border-bottom:dashed 0px red; border-left:double 0px green; border-right:solid 0px yellow; width: 420px ; height: 250 px') 藉由鳳梨原汁與台灣在地茶葉結合、添加其他副方，製成夏季國人暢銷飲品鳳梨冰茶。除了能夠消除夏天的炎熱、增加口味多變性，也能提高消費者對此冰品的接受度。
    
    br
    h3.small_english(style='border-top:dotted 0px blue; border-bottom:dashed 0px red; border-left:double 0px green; border-right:solid 0px yellow; width: 380px ; height: 250 px') Transportation is an important part of logistics operations. In all aspects, transportation time and transportation costs account for a significant proportion.
    br

    
    
 
//-     h5 VI COLORS
//-     .color_chip
//-       .color_tag #ffb336
//-       .color_block.color_block_yellow
//-     .color_chip
//-       .color_tag #27232f
//-       .color_block.color_block_blue
//-     .color_chip
//-       .color_tag #f3f7f7
//-       .color_block.color_block_white
//-     .color_chip
//-       .color_tag #333333
//-       .color_block.color_block_grey

//-     h5 BUTTON EXAMPLE
//-       .button 按鈕範例
//-       .button.button_blue 按鈕範例
//-       .button.button_yellow 按鈕範例



//-   .content.content_grey
//-     .max_width
//-       h5 The new life
//-       h1 關於我
//-       h1.small_english The more thing about me
//-       br
//-       .title_hr1
//-       //- h2 品牌視覺引導-中標題 40px
//-       //- h2.small_english English style guideline for h2 title
//-       //- br
//-       h3 運輸是物流運作的重要環節，在各個環節中運輸時間及運輸成本占有相當比重。現代運輸管理是對運輸網路和運輸作業的管理，在這個網路中傳遞著不同區域的運輸任務、資源控制、狀態跟蹤、信息反饋等信息。
//-       h3.small_english Transportation is an important part of logistics operations. In all aspects, transportation time and transportation costs account for a significant proportion. Modern transportation management is the management of transportation networks and transportation operations. In this network, information such as transportation tasks, resource control, status tracking, and information feedback in different regions is transmitted.

//-       br
//-       hr
//-       h5 VI COLORS
//-       .color_chip
//-         .color_tag #ffb336
//-         .color_block.color_block_yellow
//-       .color_chip
//-         .color_tag #27232f
//-         .color_block.color_block_blue
//-       .color_chip
//-         .color_tag #f3f7f7
//-         .color_block.color_block_white
//-       .color_chip
//-         .color_tag #333333
//-         .color_block.color_block_grey

//-       h5 BUTTON EXAMPLE
//-         .button 按鈕範例
//-         .button.button_blue 按鈕範例
//-         .button.button_yellow 按鈕範例

.content.content_blue
  .max_width
    .poster
     img.icon(src="https://i.imgur.com/wL1ttyh.png", alt="",width="350")
    br
    h5 Style Guideline
    h1 集資計畫
    h1.small_english About the future
    br
    .title_hr
    h2 想念包/ 500個 
    h2.small_english Transportation planning 
    br
    h3 工作未來情報報你知
    h3.small_english English style guideline for h3 title
    br
    hr
    h5 VI COLORS
    .color_chip
      .color_tag #ffb336
      .color_block.color_block_yellow
    .color_chip
      .color_tag #27232f
      .color_block.color_block_blue
    .color_chip
      .color_tag #f3f7f7
      .color_block.color_block_white
    .color_chip
      .color_tag #333333
      .color_block.color_block_grey
  

    h5 BUTTON EXAMPLE
      .button 運籌學
      .button.button_blue 管理學
      .button.button_yellow 更多點我

